.left-footer{
    text-align: center; 
    margin-top: 3vh;
  }

.socials a{
    padding: 7px;
    font-size: 18px;
}

.twitter{
    color: #d5c455;
}

.github{
    color: #d5c455;
}

.mail{
    color:#d5c455;
}

.year{
    font-size: 13px;
    color: #FFFFFF;
    font-family: sans-serif;
    padding-top: 5px;
}