@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.form-header {
  font-family: "Karla", sans-serif;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-left: 100px;
}

.general {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.input-class {
  width: 80%;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 2px;
}

.currency-name {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-bottom: 5px;
}
@media all and (max-width: 700px){
  .form-header{
    margin-left: 50px;
  }


}

@media all and (max-width: 450px){
  .form-header{
    margin-left: 30px;
  }
}